.horizontal-container{
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    background-color: white;

    border: 1px solid black;

    .thumbnail img{
        /* max-height: 75px;
        max-width: 75px; */
        border-radius: 100px;
        overflow: hidden;
    }


}